<h1>Edit Answer</h1>

<form action="/posts/<%= @answer.post_id %>/answers/<%= @answer.id %>" method="post">
	<input type="hidden" name="_method" value="patch">
	<label>Answer: </label><br>
	<textarea name="body" value="<%= @answer.body %>"><%= @answer.body %></textarea><br>
	<input type="submit" value="Update Answer">
</form>
<br>

<form action="/posts/<%= @answer.post_id %>/answers/<%= @answer.id %>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete"> Are you sure you want to delete the answer?
		</form>