<h1>Question</h1>
<div>
	<strong><%= @post.title %></strong>
		==> <a href="/users/<%= @post.user_id%>"><%= @post.user.name %></a><br>
		<%= @post.body %><br>
</div>

<div>
	<% if session[:user_id] == @post.user.id %>
		<a href="/posts/<%= @post.id %>/edit"><button>Edit post</button></a>
		<form style="display: inline" action="/posts/<%= @post.id %>" method="post">
			<input type="hidden" name="_method" value="delete">
			<input type="submit" value="Delete">
		</form>
	<% else %>
		<% if logged_in? %>
			<a href="/posts/<%= @post.id %>/answers/new"><button>Write your Answer</button></a>
		<% end %>
	<% end %>
</div><br>	

<div>
	<% if logged_in? %>
			<form style="display: inline" action="/posts/<%= @post.id %>/qvote" method="post">
				<input type="hidden" name=postvote[vote] value=1>
				<input type="hidden" name=postvote[post_id] value="<%= @post.id %>">
				<input type="hidden" name=postvote[user_id] value="<%= current_user.id %>">
				<input type="submit" value="Upvote | <%= post_count %>">
			</form>
			<form style="display: inline" action="/posts/<%= @post.id %>/qvote" method="post">
				<input type="hidden" name=postvote[vote] value=-1>
				<input type="hidden" name=postvote[post_id] value="<%= @post.id %>">
				<input type="hidden" name=postvote[user_id] value="<%= current_user.id %>">
				<input type="submit" value="Downvote">
			</form> 
	<% end %>
</div><br><br>

<u><h3><%=@post.answers.count %> Answers</h3></u>
<div>

	<% if @post.answers.nil? %>
	<% else %>
	<% @post.answers.each_with_index do |answer,index| %>
		<tr><%= index + 1 %>. <%= answer.body %> ==> <a href="/users/<%= answer.user_id %>"><%= answer.user.name %></a>
			<% if session[:user_id] == answer.user_id %>
				<a href="/posts/<%= answer.post_id %>/answers/<%= answer.id %>/edit"><button>Edit</button></a><br>
				<div style="margin-left:1em">
					<form style="display: inline" action="/posts/<%= @post.id %>/avote" method="post">
					   <input type="hidden" name=answervote[vote] value=1>
					   <input type="hidden" name=answervote[answer_id] value="<%= answer.id %>">
					   <input type="hidden" name=answervote[user_id] value="<%= current_user.id %>">
						<input type="submit" value="Upvote | <%= AnswerVote.where(answer_id: answer.id, vote: 1).count - AnswerVote.where(answer_id: answer.id, vote: -1).count %>">
				 	</form>
				 	<form style="display: inline" action="/posts/<%= @post.id %>/avote" method="post">
				 	   <input type="hidden" name=answervote[vote] value=-1>
					   <input type="hidden" name=answervote[answer_id] value="<%= answer.id %>">
					   <input type="hidden" name=answervote[user_id] value="<%= current_user.id %>">
						<input type="submit" value="Downvote">
				 	</form>
				 </div>	
		 	<% end %>
		</tr><br><br>
	<% end %>
	<% end %>
</div>


<p>
	<a href="/users/<%= session[:user_id] %>">Go back</a><br>
	<a href="/posts">See all question</a>
</p>