<h1>User Profile</h1>

Name: <%= @user.name %><br>
Email: <%= @user.email %><br>
Description:  <%= @user.description %><br><br>

<%if current_user.id == @user.id%>
	<a href="/users/<%= @user.id %>/edit"><button>Edit profile</button></a>
	<form action="/users/<%= @user.id %>" method="post">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Delete">
	</form>
	<a href="/users/logout"><button>Logout</button></a><br>
	<a href="/posts/new"><button>Ask question</button></a><br>
	<a href="/posts"><button>Write</button></a>
<% end %>

<p> My Questions </p>
<ul>
	<% @user.posts.each do |post| %>
		<li><a href="/posts/<%= post.id %>"><%= post.title %></a></li>
	<% end %>
</ul>

<p> My Answers </p>
<ul>
	<% @user.answers.each do |answer| %>
		<li><a href="/posts/<%= answer.post_id %>"><%= answer.post.title %></a> --> <%= answer.user.name %><br><%= answer.body %>
		</li>
	<% end %>
</ul>