<h1>User Profile</h1>

<h3>Welcome, <%= current_user.name %></h3>

Name: <%= @user.name %><br>
Email: <%= @user.email %><br>
Description:  <%= @user.description %><br>

<%if current_user.id == @user.id%>
	<a href="/users/<%= @user.id %>/edit"><button>Edit profile</button></a>
	<form action="/users/<%= @user.id %>" method="post">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Delete">
	</form>
	<a href="/users/logout"><button>Logout</button></a>
<% end %>

<ul>
	<% @user.posts.each do |post| %>
		<li><a href="/posts/<%= post.id %>"><%= post.title %></a></li>
	<% end %>
</ul>



